<% if user_signed_in? %>
    <h1> You're logged in!</h1>
<% else %>
	<div class="center hero-unit">
	    <h1>Welcome to Startupfreak.com! </h1>
	    <p>Sogn up with to <%= link_to 'Startupfreak',  "http://startupfreak.com" %></p>

	    <p> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
	</div>
<% end %>